@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

html {
  min-height: 53rem;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next,
.body-wrapper,
.main-content-topnav-wrapper,
main {
  font-family: "Archivo", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01rem;
  height: calc(100vh - 9rem);
}

.modular {
  position: fixed;
  transition: 0.1s;
  backdrop-filter: blur(9px) saturate(1);
  min-height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: #0000008c !important;
  overflow: hidden;
  filter: opacity(1);
}

.hidden-modular {
  backdrop-filter: blur(0);
  pointer-events: none;
  filter: opacity(0);
}

.close-modular {
  cursor: pointer;
  color: white;
  font-size: 3rem;
  text-align: right;
  float: right;
  padding-right: 0.8rem;
  padding-top: 0.3rem;
  font-family: "Archivo";
}

.modular-image-container {
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5rem 0rem;
}

.modular-image {
  cursor: pointer;
}

button {
  font-family: "Archivo", sans-serif;
}

.hidden {
  display: none !important;
}

.header {
  height: 3rem;
  width: 100%;
  background-image: url(../images/header.svg);
  background-size: 204rem;
  background-color: #ff38b8;
  animation: moveIt 30000s linear infinite;
  animation-timing-function: linear;
  cursor: pointer;
}

@keyframes moveIt {
  from {
    background-position-x: 0rem;
  }
  to {
    background-position-x: -99999rem;
  }
}

.body-wrapper {
  width: 100%;
  display: inline-flex;
}

.main-content-topnav-wrapper {
  width: 100%;
}

.top-navbar {
  height: 6rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-navbar a {
  text-decoration: none;
  margin: 0 2.4rem;
  font-size: 1.1rem;
  color: black;
}

.top-navbar a.active {
  color: #00a45a;
}

.about-p,
.contact-p,
.nft-p {
  padding: 0.4rem 0;
  line-height: 1.7rem;
  color: #00a45a;
  text-transform: uppercase;
}

.about-p a:hover,
.contact-p a:hover,
.nft-p a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/*For 404 page*/
main div {
  background: transparent !important;
}

.left-navbar {
  float: left;
  padding: 9rem 4rem;
  width: 34rem;
}

.left-link {
  color: #ff38b8;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  line-height: 3rem;
  min-width: max-content;
}

.lower-panel {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0, 1.04, 0.35, 0.99);
  transition: 0.7s;
}

.lower-panel.isExpanded {
  max-height: 9rem;
}

.lower-panel.isExpanded a {
  color: black;
}

.sub-categories-container div {
  padding: 0.4rem 0;
}

.sub-categories {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  min-width: 9rem;
  color: black;
}

.sub-categories-container div:nth-child(2) {
  text-align: right;
}

.sub-categories-container div:nth-child(4) {
  margin-right: 15%;
  text-align: right;
  margin-left: 3rem;
}

.lower-panel a.active {
  color: #00a45a;
}

.portfolio-area-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  padding-right: 1rem;
}

.portfolio-img-caption-wrapper {
  padding: 0.7rem 1rem;
}

.portfolio-img-caption-wrapper:nth-child(even) {
  transform: translateY(9rem);
}

.portfolio-img-container {
  position: relative;
  cursor: pointer;
}

.portfolio-img-container img {
  width: 100%;
}

.image-caption {
  font-size: 0.85rem;
}

.main-content p,
.main-content a {
  word-break: break-all;
}

.loader-container {
  display: flex;
  width: 100%;
  padding-top: 3rem;
  justify-content: center;
}

.main-loader {
  width: 100%;
  max-width: 22rem;
  position: relative;
  left: -6%;
  filter: grayscale(1);
}

@media (max-width: 980px) {
  .portfolio-area-container {
    grid-template-columns: 1fr;
  }
  .portfolio-img-container:nth-child(even) {
    transform: translate(-73%, 0) !important;
  }
}

@media (max-width: 760px) {
  .top-navbar {
    margin-bottom: 1.5rem;
  }
  .top-navbar a {
    margin: auto;
  }
  .left-navbar {
    padding: 7rem 1.3rem;
    width: 11rem;
    min-width: 11rem;
    padding-right: 1.3rem;
  }
  .lower-panel.isExpanded {
    max-height: 12rem;
    min-width: 10rem;
  }
  .lower-panel.isExpanded a {
    min-width: 8rem;
  }
  .left-navbar button {
    font-size: 0.9rem !important;
  }
  .left-link {
    line-height: 2.7rem;
  }
  .sub-categories-container div:nth-child(4),
  .sub-categories-container div:nth-child(2) {
    margin-left: 0rem;
    text-align: left;
  }
  .sub-categories {
    width: max-content;
  }
  .top-navbar-container {
    display: flex;
    width: 16rem;
    position: absolute;
  }
  .portfolio-img-caption-wrapper {
    padding: 0.7rem 0rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .portfolio-img-caption-wrapper:first-child {
    min-height: 18rem;
  }
  .portfolio-img-container img {
    width: 90%;
  }
  .portfolio-img-caption-wrapper:nth-child(even) {
    transform: translateY(0rem);
  }
  .portfolio-img-caption-wrapper:nth-child(even) {
    transform: translateX(-8.7rem);
  }
  .about-p,
  .contact-p,
  .nft-p {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .modular-image-container {
    height: fit-content;
  }

  .modular-image {
    width: 100%;
  }

  .modular {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .close-modular {
    top: 0;
    right: 0;
    font-size: 2.5rem;
    position: absolute;
  }
}
