/* @import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"); */

html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#__next,
.body-wrapper,
.main-content-topnav-wrapper,
main {
  font-family: "Archivo", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

main {
  max-height: 79.5vh;
  overflow: scroll;
}

.modular {
  position: fixed;
  transition: 0.1s;
  backdrop-filter: blur(9px) saturate(1);
  min-height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: #0000008c !important;
  overflow: hidden;
  filter: opacity(1);
}

.hidden-modular {
  backdrop-filter: blur(0);
  pointer-events: none;
  filter: opacity(0);
}

.close-modular {
  cursor: pointer;
  color: white;
  font-size: 3rem;
  text-align: right;
  float: right;
  padding-right: 0.8rem;
  padding-top: 0.3rem;
  font-family: "Archivo";
}

.modular-image-container {
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5rem 0rem;
}

.modular-image {
  cursor: pointer;
}

button {
  font-family: "Archivo", sans-serif;
}


.header {
  height: 3rem;
  width: 100%;
  background-image: url(../images/header.svg);
  background-size: 204rem;
  background-color: #ff38b8;
  animation: moveIt 30000s linear infinite;
  animation-timing-function: linear;
  cursor: pointer;
}

@keyframes moveIt {
  from {
    background-position-x: 0rem;
  }
  to {
    background-position-x: -99999rem;
  }
}

.body-wrapper {
  width: 100%;
  display: inline-flex;
}

.main-content-topnav-wrapper {
  width: 100%;
}

.top-navbar {
  height: 5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-navbar a {
  text-decoration: none;
  margin: 0 2.4rem;
  font-size: 1.1rem;
  color: black;
}

.top-navbar a.active {
  color: #00a45a;
}

.about-p,
.contact-p,
.nft-p {
  padding: 0.4rem 0;
  line-height: 1.7rem;
  color: #00a45a;
  text-transform: uppercase;
}

.about-p a:hover,
.contact-p a:hover,
.nft-p a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/*For 404 page*/
main div {
  background: transparent !important;
}

.flower-menu-icon {
  display: none;
}

.flower-menu-after-icon {
  display: none;
}

.responsive-navbar-container {
  display: none;
}

.left-navbar {
  float: left;
  padding: 9rem 4rem;
  width: 27rem;
}

.left-link {
  color: #ff38b8;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
  line-height: 3rem;
  min-width: max-content;
}

.lower-panel {
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0, 1.04, 0.35, 0.99);
  transition: 0.7s;
}

.lower-panel.isExpanded {
  max-height: 9.5rem;
}

.lower-panel.isExpanded a {
  color: black;
}

.sub-categories-container div {
  padding: 0.4rem 0;
}

.sub-categories {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  min-width: 9rem;
  color: black;
}

.sub-categories-container div:nth-child(2) {
  text-align: right;
  width: 60%;
}

.sub-categories-container div:nth-child(4) {
  margin-right: 15%;
  text-align: right;
  margin-left: 3rem;
}

.lower-panel a.active {
  color: #00a45a;
}

.portfolio-area-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  padding-right: 1rem;
}

.portfolio-img-caption-wrapper {
  padding: 0.7rem 1.2rem;
  padding-bottom: 4rem;
}

.portfolio-img-caption-wrapper:nth-child(even) {
  transform: translateY(9rem);
}

.portfolio-img-container {
  position: relative;
  cursor: pointer;
}

.portfolio-img-container img {
  width: 100%;
}

.image-caption {
  font-size: 0.85rem;
}

.loader-container {
  opacity: 1;
  position: absolute;
  left: 9rem;
  transition: 2s;
  display: flex;
  user-select: none;
  pointer-events: none;
  width: 100%;
  padding-top: 3rem;
  justify-content: center;
  z-index: 10;
}

.hidden {
  opacity: 0 !important;
}

.main-loader {
  width: 100%;
  max-width: 22rem;
  position: relative;
}

@media (max-width: 980px) {
  .portfolio-area-container {
    grid-template-columns: 1fr;
  }
  .portfolio-img-container:nth-child(even) {
    transform: translate(-73%, 0) !important;
  }
  .portfolio-img-caption-wrapper:nth-child(even) {
    transform: none;
  }
}

@media (max-width: 760px) {
  .loader-container {
    z-index: -1;
    left: 0 !important;
  }
  .hidden {
    width: 0;
    opacity: 0 !important;
  }
  .top-navbar {
    margin-bottom: 0;
  }
  .top-navbar a {
    margin: auto;
  }
  .top-navbar {
    height: 4rem;
  }
  .left-navbar {
    padding: 7rem 1.3rem;
    width: 11rem;
    min-width: 11rem;
    padding-right: 1.3rem;
  }
  .responsive-navbar-container {
    margin-left: 1.2rem;
    padding-bottom: 0.4rem;
  }
  .responsive-navbar-container {
    display: block;
  }
  .responsive-navbar .sub-categories-container {
    display: flex;
    flex-wrap: wrap;
  }
  .responsive-navbar {
    height: 0;
    transition: 0.3s;
    overflow: hidden;
  }
  .responsive-navbar.isExpanded {
    height: 11rem;
    overflow: visible;
  }
  .flower-menu-container {
    display: flex;
    cursor: pointer;
  }
  .flower-menu-icon {
    display: block;
    width: 47px;
  }
  .flower-menu-after-icon {
    display: block;
    width: 10px;
    margin: 0 0.3rem;
    transition: 0.3s;
  }
  .flower-menu-after-icon.active {
    transform: rotate(-180deg);
  }
  .left-navbar {
    display: none;
  }
  .sub-categories {
    min-width: unset;
  }
  .sub-categories-container div:nth-child(2) {
    width: unset;
  }
  .left-navbar button {
    font-size: 0.9rem !important;
  }
  .left-link {
    line-height: 2.7rem;
    font-size: 1.1rem;
  }
  .lower-panel {
    width: 21rem;
  }
  .sub-categories-container div:nth-child(4) {
    margin-right: unset;
    text-align: unset;
  }
  .sub-categories-container div {
    margin-left: 4rem;
  }
  .sub-categories-container div:first-child {
    margin-left: 0;
  }
  .sub-categories {
    width: max-content;
  }
  .top-navbar-container {
    display: flex;
    width: 16rem;
    position: absolute;
  }
  .portfolio-area-container {
    padding: 1rem 0;
  }
  .portfolio-img-caption-wrapper {
    padding: 0.7rem 0rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .portfolio-img-caption-wrapper:first-child {
    min-height: 18rem;
  }
  .portfolio-img-caption-wrapper:nth-child(even) {
    transform: translateY(0rem);
  }
  .main-content {
    padding: 0 1.3rem;
    padding-top: 1rem;
  }
  .about-p,
  .contact-p,
  .nft-p {
    padding: 0;
  }
}

@media (max-width: 480px) {

  
  .modular-image-container {
    height: fit-content;
  }

  .modular-image {
    width: 100%;
  }

  .modular {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .close-modular {
    top: 0;
    right: 0;
    font-size: 2.5rem;
    position: absolute;
  }
}
